<div class="container">

    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'shared/errors', obj: @article%>
            <%= form_with(model: @article, local: true) do |f|%>
                <div class="form-group row">
                     <%= f.label :title, class:"col-2 col-form-label text-muted" %>
                     <div class="col-10">
                        <%= f.text_field :title, class:"form-control shadow rounded", placeholder:"Title of Article"%>
                     </div>
                </div>

                <div class="form-group row">
                     <%= f.label :body, class:"col-2 col-form-label text-muted" %>
                     <div class="col-10">
                        <%= f.text_area :body, size:"10x10", class:"form-control shadow rounded", placeholder:"Body of Article"%>
                     </div>
                </div>
                <div class="form-group row justify-content-center">
                    <%= f.submit class:"btn btn-outline-secondary btn-lg"%>
                </div>
            <% end %>
        </div>
        
    </div>
</div>
