<div class="container">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4"><%=@article.title%></h1>
      <% if @article.user%>
       <p class="lead text-muted"> By <%= link_to @article.user.username, user_path(@article.user), class:"text-muted lead" %></p>
      <%end%>
      <small class="text-muted"> Created <%=time_ago_in_words(@article.created_at)%> ago & Updated <%=time_ago_in_words(@article.updated_at)%> ago </small> <br>
      
    </div>
  </div>

  <p> <%= @article.body%> </p>
  <hr>
<div class="container text-center">
  <small> 
    <%= link_to 'Cancel and return home', articles_path, class:"text-muted" %>
    <%if logged_in? && (@article.user == current_user)%>
      | <%= link_to 'Edit Article', edit_article_path(@article), class:"text-muted" %> | 
      <%= link_to 'Delete Article', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class:"text-muted"  %>
    <% end %>
  </small>
</div>


</div>
