<!DOCTYPE html>
<html>
  <head>
    <title>PersonalBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%= link_to 'the blog', root_path, class: "navbar-brand text-light text-uppercase", id:"logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Link <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#articles">See all Articles</a>
          <%= link_to 'Write an Article', new_article_path, class:"dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <div id="page-content">
    <%= render 'layouts/messages'%>
      <%= yield %>
  </div>

  </body>
</html>
